@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.titulo{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}
titulo.h1{
    font-family: 'Lobster', cursive;
    color: rgb(255, 0, 0);
}

carousel-item{
    height: 300px;
    
}

.bg-restaurante{
    background: rgb(129, 6, 6);
}